/*
-----------------------------------------
WIDTHS
-----------------------------------------
*/

:root {
  --site-width: 1200px;
  --project-bar-height: 75px;
}

/*
-----------------------------------------
COLORS
-----------------------------------------
*/

:root {
  // NEUTRAL
  --white: #fff;
  --black: #000;

  // Grays

  --gray-03: #f4f4f4;
  --gray-06: #eee;
  --gray-10: #ddd;
  --gray-20: #ccc;
  --gray-30: #bbb;
  --gray-40: #999;
  --gray-45: #888;
  --gray-50: #767676; // Light Text
  --gray-60: #555;
  --gray-70: #444;
  --gray-80: #313131; // Base Text
  --gray-85: #262626;
  --gray-90: #1f1f1f;
  --gray-92: #181818;
  --gray-95: #111;

  // System Colors

  --info-05: #e9f9ff;
  --info-10: #84c2d9;
  --info-20: #3a9fc7;
  --info-50: #177da6;
  --info-80: #005e82;

  --success-05: #e4ffed;
  --success-10: #79e09a;
  --success-20: #40a861;
  --success-50: #098731;
  --success-80: #11662c;

  --warn-05: #fff3e1;
  --warn-10: #f5be71;
  --warn-20: #e08504;
  --warn-50: #b56f0d;
  --warn-80: #875608;

  --error-05: #ffebeb;
  --error-10: #f89094;
  --error-20: #f05157;
  --error-50: #d42228;
  --error-80: #ad050b;

  --primary: #374a67;
  --primary-light: #476085;

  --base-color: var(--white);
  --content-background: var(--white);

  // Text
  --text-color: var(--gray-70);
  --link-color: var(--primary);

  // User Select (colors when a user selects objects on screen)
  --select-background: var(--primary);
  --select-text: var(--white);
}

/*
-----------------------------------------
SPACING
-----------------------------------------
*/

:root {
  --space: 20px;
  --space-xxxs: calc(0.25 * var(--space));
  --space-xxs: calc(0.375 * var(--space));
  --space-xs: calc(0.5 * var(--space));
  --space-sm: calc(0.75 * var(--space));
  --space-md: calc(1.25 * var(--space));
  --space-lg: calc(1.5 * var(--space));
  --space-xl: calc(2 * var(--space));
  --space-xxl: calc(2.5 * var(--space));
  --space-xxxl: calc(3 * var(--space));
}

/*
-----------------------------------------
FONTS
-----------------------------------------
*/

// Font Family
:root {
  --font: Helvetica Neue, Helvetica, Arial, sans-serif;
}

$font-size: 16px; // This is a SCSS variable for the mixin function

/*
-----------------------------------------
BREAKPOINTS
-----------------------------------------
*/

$breakpoints: (
  "desktop-wide": 1248px,
  "desktop": 1024px,
  "desktop-small": 992px,
  "tablet-wide": 850px,
  "tablet": 768px,
  "tablet-small": 720px,
  "phone-wide": 600px,
  "phone": 480px,
  "phone-small": 400px,
);

@mixin mq($width, $type: min) {
  @if map_has_key($breakpoints, $width) {
    $width: map_get($breakpoints, $width);
    @if $type == min {
      $width: $width + 1px;
    }
    @media only screen and (#{$type}-width: $width) {
      @content;
    }
  }
}
