/*
-----------------------------------------
BUTTONS
-----------------------------------------
*/

.button {
  cursor: pointer;
  border: none;
  -webkit-appearance: none;
  background-color: var(--primary);
  color: var(--white);
  display: inline-flex;
  align-items: center;
  padding: 12px 16px;
  gap: 8px;
  border-radius: 4px;
  @include rem-size(14px);

  &:hover {
    background-color: var(--primary-light);
  }

  .button-icon {
    i {
      @include rem-size(16px);
    }
  }

  // Button Variations

  &.ghost {
    background: transparent;
    color: var(--text-color);
  }

  &.gray {
    background: var(--gray-10);
    color: var(--text-color);

    &:hover {
      background: var(--gray-06);
    }
  }
}

.button-group {
  display: flex;
  gap: 12px;

  &.center {
    justify-content: center;
  }

  &.right {
    justify-content: flex-end;
  }
}
