.app-nav, .user-nav {
    transform: translateY(-10px);

    ul {
        list-style: none;
        display: flex;
        gap: 20px;
    }

    a {
        text-decoration: none;
        color: var(--text-color);

        &.active {
            text-decoration: underline;
            color: var(--primary);
        }

        &:hover {
            color: var(--primary);
        }
    }
}

.user-nav {
    margin-left: auto;
}