/*
-----------------------------------------
MASTHEAD
-----------------------------------------
*/


.app-header {
	background: #eaeaea;
	position: relative;
	margin-bottom: 30px;

	&::after {
		content: '';
		position: absolute;
		bottom: 0;
		width: 100%;
		left: 0;
		height: 20px;
		background: var(--white);
	}

	.content {
		display: flex;
		align-items: center;
		gap: 40px;
		padding: 10px 0;
		position: relative;
		z-index: 1;
	}
}

.logo {
	flex-shrink: 0;
}