.project {
  padding-bottom: var(--project-bar-height);
}

.component-group {
  margin-bottom: 50px;
}

.component-table {
  tfoot {
    tr {
      background: var(--primary);
      padding: 12px 30px;
    }

    td {
      color: var(--white);
    }
  }

  input {
    border: none;
  }

  tbody {
    tr:has(input:focus) {
      background: var(--gray-03);
    }
  }

  .component-amount-input {
    width: 40px;
    text-align: right;
    margin-right: 8px;
  }
}
